* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  max-width: 100%;
  display: flex;
}
.title-container {
  position: relative;
  width: 40%;
}

.title-h1,
.img-author {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}
.title-h1 {
  top: 10rem;
}
img {
  position: absolute;
  display: block;
  max-width: 100%;
}

.img-author {
  top: 15rem;
  font-size: small;
}
